<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjs.zero.viewlibrary">

    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name=".View2Activity"></activity>
        <activity android:name=".ViewActivity"
            android:parentActivityName="com.jjs.zero.viewlibrary.View2Activity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jjs.zero.viewlibrary.View2Activity"/>
        </activity>
    </application>

</manifest>